.main {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  margin: 50px 50px 50px 50px;
}

.topLine {
  display: flex;
}

.title {
  margin-bottom: 5px;
}

.returnButton {
}

.editButton {
}

.contentDiv {
  display: flex;
  flex-direction: column;
}

.scannedDocsMini {
  display: flex;
  flex-direction: row;
}

.scannedDocsMiniAndPlus {
  border: 1px solid black;
  height: 100%;
  display: grid;
  grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px;
  flex: 1;
}

.translatedDocs {
  flex: 1;
  border: 1px solid black;
  height: 100%;
}

.scannedDoc {
  height: 86px;
  width: 68px;
  border: 1px solid black;
  margin: 5px;
  transition: background-color 0.3s ease;
}

.scannedDoc:hover {
  background-color: lightgray;
}

.scannedDocClicked {
  height: 86px;
  width: 68px;
  border: 1px solid black;
  margin: 5px;
  transition: background-color 0.3s ease;
  background-color: darkgray;
}

.addDocButtonCont {
  height: 86px;
  width: 68px;
  border: 1px solid white;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addDocButton {
  padding: 0;
  height: 40px;
  width: 40px;
}

.iconPlus {
  height: 68px;
  width: 68px;
}

.docPreview {
  /* height: 450px;
  width: 300px; */
  border: 1px solid black;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.docPreview p,
.docPreview button {
  margin: 7px;
}

.imagePreview {
  max-width: auto;
  max-height: 100%;
}

.scannedDocs {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  height: 100%;
}
