.documentCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 350px;
  max-height: 200px;
}

.group {
  display: flex;
  flex-direction: column;
}

.cardTitle {
  margin-bottom: 10px;
}

.cardText {
  margin-bottom: 10px;
}

.cardButton {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 0px;
}
