.documentTitle {
  display: flex;
  flex-grow: 1;
}

.editTitle {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.textInput {
  margin-top: 2px;
  flex-grow: 1;
}

.editButton {
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.topLineButtons {
  display: flex;
  flex-direction: row;
}

.returnButton {
  padding: 0;
  padding-right: 15px;
  padding-left: 0px;
}

.notEditStateContent {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.titleAndEditButton {
  display: flex;
}

.exportButton {
  padding-left: 15px;
  padding-right: 15px;
}
.exportButton svg {
  margin-right: 10px;
}
