.cards {
  display: flex;
  flex-direction: column;
}

.searchDocument {
  border: blue;
  margin-bottom: 32px;
}

.documentCardsWrapper {
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  flex-grow: 1;
  padding: 0px 12px 32px 32px;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.documentCards {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  height: 100%;
  width: 100%;
  padding: 0px 16px 32px 32px;
}

.notification {
  position: fixed;
  z-index: 1000;
  max-width: 750px;
  bottom: 0;
  right: 0;
  margin: 32px;
  pointer-events: auto;
}
