.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.centeredDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.createDocButtonCentered {
  margin: 10px;
  margin-bottom: 65px;
}

.centeredText {
  text-align: center;
  margin: 10px;
}
